PORT=5001
MONGODB_URI=mongodb://dhamodharaadhamodharana_db_user:ASURA123@ac-bh8pcbi-shard-00-00.obtkusr.mongodb.net:27017,ac-bh8pcbi-shard-00-01.obtkusr.mongodb.net:27017,ac-bh8pcbi-shard-00-02.obtkusr.mongodb.net:27017/?ssl=true&replicaSet=atlas-n1s0iu-shard-0&authSource=admin&appName=Cluster0
JWT_EXPIRES_IN=2h
